**************************
Résultat de l'analyse
**************************


.. sidebar:: Score

	Code has been rated at
	:strong:`{{ "%.02f"|format(report.score) }} / 10`

{% for module, messages in report.modules %}
{{ module.name }}
====================================================================================
{% for msg in messages %}
================  ==================================================================
Line/Column       {{ msg.line }} : {{ msg.column }}
Type/Symbol       {{ msg.type }} : {{ msg.symbol }}
================  ==================================================================

``{{ msg.message }}``
{% endfor %}
{% endfor %}
